.hero-simple-container .hero-simple-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-simple {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-simple h1,
.hero-simple h2,
.hero-simple h3,
.hero-simple h4,
.hero-simple h5,
.hero-simple h6,
.hero-simple p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-simple.no-image * {
  color: var(--text-color);
}

.hero-simple picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-simple img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-simple {
    padding: 40px 32px;
  }
}
